{{#if addNewResponse}}
  <h1>Post a response:</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Who are you?</label>
          <span class="contrast">{{input value=author id="author"}}</span>
      </div>

      <div class="form-group">
        <label for="message">Enter your Response</label>
          <span class="contrast">{{input value=message id="message"}}</span>
      </div>

      <button class="btn-custom btn-xs"{{action 'saveResponse'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn-custom btn-xs" {{action 'responseFormShow'}}>Submit your response</button>
{{/if}}
