<div class="row">
  <div class="col-md-6">
<h3>{{model.fullQuestion}}</h3>
<br>
{{new-response saveResponse="saveResponse" question=model}}
{{update-question question=model update="update"}}
</div>
  <div class="col-md-6">
<h1>Responses:</h1>
<ul>
  {{#each model.responses as |response|}}
  <li><h3>{{response.author}} replied:<br>
  {{response.message}}
</h3></li>
  {{/each}}

</ul>


</div>
</div>
