<div class="row">
  <div class="col-md-6">
<h1>{{model.author}} asked:</h1>
<h3>{{model.message}}</h3>
<h3>{{model.detail}}</h3>
{{new-response saveResponse="saveResponse" question=model}}
<br>
{{update-question question=model update="update"}}
</div>
  <div class="col-md-6">
<h1>Responses:</h1>
<ul>
  {{#each model.responses as |response|}}
  <li><h3>{{response.author}} replied:<br>
  {{response.message}}</h3></li>
  {{/each}}
</ul>


</div>
</div>
