<h1>{{model.author}} asked:</h1>
<h3>{{model.message}}</h3>
<h3>{{model.detail}}</h3>
<h1>Responses:</h1>
<ul>
  {{#each model.responses as |response|}}
  <li><h3>{{response.author}} replied:<br>
  {{response.message}}</h3></li>
  {{/each}}
</ul>

{{update-question question=model update="update"}}

{{new-response saveResponse="saveResponse" question=model}}
